body, html{
	height: 100%
}

.bg{
	background: #fff;
	background-image: url(images/bg.jpg);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.2;
	height: 100%;
	width: 100%;
}

.search-box{
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.btn.btn-search{
	border-radius: 0;
	height: 50px;
	background: #03a3b2;
	color: #fff;
}

.search-input:focus{
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}



